.image{
    width: 1600px;
    height: 809px;
    position: relative;
    text-align: right;
    color: black
}
.banner-heading{
    position: absolute;
    top: 216px;
    right: 230px;
    align-items: normal;
}
.banner-title{
    width: 525px;
    color:  #151414;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    height: 228px;
   

}
.banner-des{
    width: 494px;
    color:  #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top:24px;
   
   
}
.init-button{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #F15B22;
    padding: 21px 25px 20px 26px;
    margin-top: 32px;

}
.footer{
    display: flex;
    background: #151414;
    color: #F8F8F8;
    font-family: Work Sans;
    justify-content: space-around;
    
#footer heading{
    font-size: 45px;
    font-weight: 700px;

}
.footer-des{
    width: 485px;font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.footer-image{
    margin-top: 32px;
    margin-right: 16px;
    
}
.footer-end-heading{
    font-size: 25px;
    font-weight: 600;

}
.form{
    background:  #151414;
    margin-top: 30px;
}
.input{
    color:  #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding: 21px 158px 21px 21px;
    border-radius: 10px;

}
.final-button{
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    padding: 20px 36px;
    font-weight: 600;
    margin-top: 16px;

}
.footer-message{
    margin-top: 130px;
}
.footer-end{
    margin-top: 130px;
}
