.image{
    width: 1600px;
    height: 809px;
    position: relative;
    text-align: right;
    color: black
}
.banner-heading{
    position: absolute;
    top: 216px;
    right: 230px;
    text-align: right;
}
.banner-title{
    
    width: 525px;
    color:  #151414;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    height: 228px;
   

}
.banner-des{
    width: 494px;
    color:  #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top:24px;
   
   
}
.init-button{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 21px 25px 20px 26px;
    margin-top: 32px;

}

.section1{
    position: relative;
    margin: 140px;
    background: #FFF;
    display: flex;
    font-family: Work Sans;
    max-width: 1600px !important;
    max-height: 3223px; 
    align-items: center; 
    justify-content: space-evenly;
} 

.sec1-image{
    width: 569px;
    height: 666.5px;
}
.sec1-des{
    margin-left: 105px;
}
#sec1-title{
    width: 288px !important;
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
}
.sec-para{
    width: 316px !important;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.sec1-list{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}


.section2{
    margin-top: 140px;
    max-width: 1600px;font-family: Work Sans;
    max-height: 3223px;
}
#sec2-title{
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    }
 .plan{
    display: flex;
    margin-left:230px ;
    margin-right: 230px;
    justify-content: space-between;
 }   
.section3{
    margin: 140px 230px;
    width: 1140px;
    max-height: 300px;
    border-radius: 8px;
    align-items: normal;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%),url('/images/watch.png') ;
}
#sec3-heading{
   padding-top: 50px;
    margin-left: 64px;
    width: 459px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}
#middle-button{
    margin-bottom: 60px;
    margin-left: 64px;
    padding: 20px 36px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}


.footer{
    display: flex;
    background: #151414;
    color: #F8F8F8;
    font-family: Work Sans;
    justify-content: space-around;
    width: 1600px;
    height: 577px;
}
    
#footer heading{
    font-size: 45px;
    font-weight: 700px;

}
.footer-des{
    width: 485px;font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.footer-image{
    margin-top: 32px;
    margin-right: 16px;
    
}
.footer-end-heading{
    font-size: 25px;
    font-weight: 600;

}
.form{
    background:  #151414;
    margin-top: 30px;
}
.input{
    color:  #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding: 21px 158px 21px 21px;
    border-radius: 10px;

}
.final-button{
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    padding: 20px 36px;
    font-weight: 600;
    margin-top: 16px;

}
.footer-message{
    margin-top: 130px;
}
.footer-end{
    margin-top: 130px;
}

